<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h1 class="mb-0">Edit Performer</h1>
      </div>
      <div class="card-body">
        <%= render 'form', performer: @performer %>
      </div>
    </div>
  </div>
</div>
