<div class="breadcrumbs text-sm mt-2">
  <ul>
    <li><%= link_to "Admin", new_admin_root_path, class: "text-primary hover:text-primary-focus" %></li>
    <%= content_for :breadcrumbs %>
  </ul>
</div>
